<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyinghao.mapper.FriendMapper">

    <select id="selectFriendBackVOList" resultType="com.tanyinghao.model.vo.FriendBackVO">
        SELECT id, `name`, color, avatar, url, introduction, create_time
        FROM t_friend
        <where>
            <if test="keyword != null">
                `name` like concat('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY id DESC
        limit #{limit},#{size}
    </select>
</mapper>