<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyinghao.mapper.MenuMapper">

    <select id="selectMenuVOList" resultType="com.tanyinghao.model.vo.MenuVO">
        select
            id,
            parent_id,
            menu_type,
            menu_name,
            `path`,
            icon,
            component,
            perms,
            is_hidden,
            is_disable,
            order_num,
            create_time
        FROM t_menu
        <where>
            <if test="condition.keyword != null">
                and menu_name like concat('%', #{condition.keyword}, '%')
            </if>
            <if test="condition.isDisable">
                and is_disable = #{condition.isDisable}
            </if>
        </where>
        Order by order_num
    </select>
    <select id="selectMenuByUserId" resultType="com.tanyinghao.model.vo.UserMenuVO">
        SELECT DISTINCT
            m.id,
            m.parent_id,
            m.menu_name,
            m.menu_type,
            m.path,
            m.icon,
            m.order_num,
            m.component,
            m.is_hidden
        FROM t_menu m
            JOIN t_role_menu trm on m.id = trm.menu_id
            JOIN t_user_role tur on trm.role_id = tur.id
            JOIN t_role tr on tur.role_id = tr.id
        WHERE
            m.menu_type in ('M', 'C')
            AND m.is_disable = 0
            AND tr.is_disable = 0
            AND tur.user_id = #{userId}
        ORDER BY m.parent_id, m.order_num
    </select>
</mapper>