<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tanyinghao.mapper.VisitLogMapper">
    <!-- selectVisitLogList -->
    <select id="selectVisitLogList" resultType="com.tanyinghao.model.entity.VisitLog">
        SELECT
            tvl.id,
            page,
            ip_address,
            ip_source,
            os,
            browser,
            create_time
        FROM
        (
            SELECT id FROM t_visit_log
                <where>
                    <if test="keyword!=null">
                        page like concat('%', #{keyword}, '%')
                    </if>
                </where>
            ORDER BY id DESC LIMIT #{limit}, #{size}
        ) temp
        LEFT JOIN t_visit_log tvl ON temp.id = tvl.id
    </select>
</mapper>